{
  "extends" : "eslint:recommended",
  "env" : {
    "browser" : true,
    "node" : true,
    "mocha" : true,
    "jasmine" : true,
    "phantomjs" : true,
    "qunit" : true,
    "jquery" : true
  },
  "parserOptions": { "ecmaVersion": 6 },
  "rules" : {
    "arrow-body-style" : "off",
    "arrow-parens" : ["error", "as-needed"],
    "class-methods-use-this" : "off",
    "comma-dangle" : ["error", "only-multiline"],
    "eqeqeq" : ["error", "smart"],
    "func-names" : ["error", "never"],
    "key-spacing" : ["error", {
      "afterColon" : true,
      "beforeColon" : true,
      "mode" : "minimum"
    }],
    "no-console" : "warn",
    "no-debugger" : "error",
    "no-else-return" : ["error", { "allowElseIf" : true }],
    "no-multi-spaces" : ["error", { "ignoreEOLComments" : true }],
    "no-plusplus" : "off",
    "no-restricted-properties" : ["warn",
      { "object" : "describe", "property" : "only" },
      { "object" : "it", "property" : "only" }
    ],
    "no-use-before-define": ["error", "nofunc"],
    "no-var" : "off",
    "padded-blocks" : "off",
    "padding-line-between-statements" : ["error",
      { "blankLine" : "always", "prev" : ["const", "let", "var"], "next" : "*"},
      { "blankLine" : "never", "prev" : ["const", "let", "var"], "next" : ["const", "let", "var"]},
      { "blankLine" : "always", "prev" : "*", "next" : "return"}
    ],
    "prefer-arrow-callback" : "off",
    "quotes" : ["error", "single", { "avoidEscape" : true }],
    "semi" : ["error", "always"],
    "sort-imports" : ["error", { "memberSyntaxSortOrder" : ["none", "all", "single", "multiple"] }],
    "space-before-function-paren" : ["error", {
      "anonymous" : "never",
      "named" : "never",
      "asyncArrow" : "always"
    }],
    "vars-on-top" : "off"
  }
}
