{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "jasmine": true,
    "phantomjs": true,
    "qunit": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "array-bracket-spacing": "warn",
    "arrow-parens": ["warn", "as-needed"],
    "block-spacing": "warn",
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "camelcase": ["warn", { "properties": "never" }],
    "comma-dangle": ["warn", "only-multiline"],
    "comma-spacing" : "warn",
    "default-case": "warn",
    "eol-last": "error",
    "eqeqeq": ["warn", "smart"],
    "guard-for-in": "warn",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "key-spacing": "warn",
    "keyword-spacing": "warn",
    "lines-between-class-members": "warn",
    "multiline-ternary": ["warn", "always-multiline"],
    "no-console": "warn",
    "no-else-return": ["warn", { "allowElseIf": true }],
    "no-eq-null": "warn",
    "no-lonely-if": "warn",
    "no-loop-func": "error",
    "no-multi-spaces": ["warn", { "ignoreEOLComments": true }],
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "no-return-assign": "warn",
    "no-self-compare": "warn",
    "no-trailing-spaces": "warn",
    "no-undef-init": "warn",
    "no-unneeded-ternary": ["error", { "defaultAssignment": false }],
    "no-use-before-define": ["warn", "nofunc"],
    "object-curly-spacing": ["warn", "always"],
    "prefer-promise-reject-errors": "warn",
    "radix": "warn",
    "semi": "error",
    "sort-imports": ["warn", { "memberSyntaxSortOrder": ["none", "all", "single", "multiple"] }],
    "space-before-blocks": "warn",
    "space-before-function-paren": ["warn", "never"],
    "space-infix-ops": "warn",
    "yoda": ["warn", "never", { "exceptRange": true }]
  }
}
