[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
[commit]
	gpgsign = true
[push]
	default = current
[user]
	name = Phil Salant
	email = PSalant@gmail.com
	signingkey = 44AF77533D123906
[gpg]
	program = gpg
[core]
	# Print a diff without the pager:
	# git --no-pager diff
	pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
	rebase = false
