[branch]
	autoSetupMerge = true

[checkout]
	defaultRemote = origin

[color]
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	frag = magenta bold
	meta = yellow bold
	new = green bold
	old = red bold

[color "status"]
	added = green
	changed = yellow
	untracked = cyan

[commit]
	gpgsign = true

[core]
	excludesfile = ~/.gitignore_global
	pager = delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}

[diff]
	colorMoved = default

[gpg]
	program = gpg

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only --features=interactive

[merge]
    conflictstyle = diff3
	tool = code

[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[pager]
	# Print a diff without the pager: git --no-pager diff
	diff = delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}
	log = delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}
	reflog = delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}
	show = delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}

[pull]
	rebase = false

[push]
	default = current

[rebase]
	autosquash = true
	autostash = true

[user]
	email = PSalant@gmail.com
	name = Phil Salant
	signingkey = 210DBF9BBAF6FC45

# Delta diff viewer config
[delta]
	features = decorations line-numbers

[delta "decorations"]
	file-decoration-style = magenta ul ol
	file-style = magenta
	hunk-header-style = omit
	minus-style = syntax bold auto
	plus-style = syntax bold auto

[delta "line-numbers"]
	line-numbers = true
	line-numbers-left-style = syntax
	line-numbers-right-style = syntax

# Psychology Today
[includeIf "gitdir:/Users/philsalant/Documents/Work/Psychology Today/"]
	path = ~/Documents/Work/Psychology Today/.gitconfig-psychology-today
